body {
  background-color: #fff;
  color: #fff;
  font-family: Avenir Next;
  padding: 18vh 1rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

div.header-container {
  background-image: url(/images/background.jpg);
  background-size: cover;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
}

div.content-container {
  background-color: #fff;
  width: 100%;
  height: 700px;
}

// orange #d45c48
// yellow #f5c363
// light blue #6bd9dc
// gray #4c5b6f
//off white #dcdbdc
