body {
  background-color: #d45c48;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

// orange #d45c48
// yellow #f5c363
// light blue #6bd9dc
// gray #4c5b6f
//off white #dcdbdc

.calendly-badge-widget {
  margin: 0;
  position: absolute;
  left: 45%;
  top: 35%;
  z-index: 9998;
}
