%div.header-container
  = image_tag("logo.png", alt: "page_logo", height: '166.5', width: '192')
  %p
    Daniel's Online English
%div.content-container
  .calendly-inline-widget{"data-url" => "https://calendly.com/danielsonlineenglish", style: "min-width:320px;height:580px;"}
  %script{src: "https://assets.calendly.com/assets/external/widget.js", type: "text/javascript"}