%div.header-container
  = image_tag("video.png", alt: "page_logo", height: '100', width: '100')
  %h1
    Daniel's Online English
-# :javascript
-#   Calendly.initBadgeWidget({url: 'https://calendly.com/danielsonlineenglish', text: 'Book a lesson', color: '#4d5055', branding: false});
%div.content-container
  .calendly-inline-widget{"data-url" => "https://calendly.com/danielsonlineenglish", style: "min-width:320px;height:580px;"}
  %script{src: "https://assets.calendly.com/assets/external/widget.js", type: "text/javascript"}