%div.header-container
  = image_tag("logo.png", alt: "page_logo", height: '240', width: '190')
%div.content-container
  %div{"data-height" => "550", "data-style" => "border: 1px solid #d8d8d8; min-width: 290px; max-width: 1290px;"}
    %iframe{:frameborder => "0", :height => "548px", :hspace => "0", :marginheight => "0", :marginwidth => "0", :scrolling => "yes", :src => "https://meetme.so/DanielsOnlineEnglish?brdr=1pxd8d8d8", :style => "min-width: 290px; max-width: 1290px; margin: 0px auto; position: initial; box-sizing: border-box; width: 100%; border: 1px solid rgb(216, 216, 216); display: block;", :vspace => "0", :width => "100%"}

